.about {
  margin-bottom: 150px;

  &__container {
    display: flex;
    justify-content: space-between;
    background-color: #fbfbfb;
    padding: 30px 70px 0 70px;
  }

  &__column {
    &_imgs {
      display: flex;
      margin-right: 30px;
    }

    &_text {
      margin-bottom: 30px;
    }
  }

  &__subcolumn {
    &_single {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-image: url("@img/about/img-2.jpg");
      width: 270px;
      height: 345px;
    }

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__row {
    width: 270px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &_first {
      height: 265px;
      background-image: url("@img/about/img-1.jpg");
    }

    &_second {
      height: 140px;
      background-image: url("@img/about/img-3.jpg");
      position: relative;
      top: 30px;
    }
  }

  &__title {
    margin-bottom: 20px;
  }

  &__subtitle {
    margin-bottom: 20px;
    max-width: 400px;
  }
}
