@media (max-width: 1225px) {
  .arcade__title {
    font-size: 46px;
    line-height: 46px;
  }

  .itcss#slider-hero .itcss__item {
    // flex-direction: column;
    // align-items: flex-start;
    margin: 0;
  }

  .hero {
    &__container {
      max-width: 1200px;
      padding: 0 15px;
    }

    &__column {
      align-items: center;
      justify-content: center;

      &_text {
        padding-top: 20px;
        width: auto;
      }

      &_img {
        width: auto;
      }
    }

    &__title {
      margin-bottom: 30px;
    }

    &__btn {
    }
  }
}

@media (max-width: 992px) {
  .header__logo {
    width: auto;
    margin-right: 50px;
  }

  .hero__container {
    flex-direction: column-reverse;
  }

  .hero__column {
    width: 100%;
    padding-top: 100px;
  }

  .hero__column_img {
    height: 600px;
  }

  .hero__column_text {
    height: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .hero__title {
    margin-bottom: 0;
  }

  .nav__block {
    margin-bottom: 0;
  }

  .about__container {
    flex-direction: column-reverse;
  }

  .tasks__columns {
    flex-direction: column;
  }

  .tasks__column:not(:last-child) {
    margin-bottom: 30px;
  }

  .arcade__inner {
    display: none;
  }

  .footer__column {
    margin-right: 30px;
  }
}

@media (max-width: 768px) {
  .hero__column_text {
    flex-wrap: wrap;
  }

  .hero__title {
    margin-bottom: 30px;
  }

  .about__column_imgs {
    justify-content: space-between;
  }

  .about__row {
    width: 170px;
  }

  .tasks__subtitle {
    font-size: 20px;
    line-height: 30px;
  }

  .arcade__row {
    flex-direction: column;
  }

  .arcade__item {
    width: 100%;
  }

  .footer__columns {
    flex-direction: column;
  }

  .footer__column {
    margin-right: 0;
  }

  .footer__column:not(:last-child) {
    margin-bottom: 50px;
  }
}

@media (max-width: 576px) {
  .about__column_imgs {
    flex-direction: column;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .about__subcolumn {
    margin-right: 0;
    width: 100%;
  }

  .about__row {
    width: 100%;
    margin-bottom: 30px;
  }

  .about__row_second {
    top: 0;
  }

  .contact__column_form {
    margin-right: 0;
  }

  .contact__column_img {
    display: none;
  }
}

@media (max-width: 375px) {
}
