@media (max-width: 1225px) {
  .arcade__title {
    font-size: 46px;
    line-height: 46px;
  }

  .itcss#slider-hero .itcss__item {
    margin: 0;
  }

  .itcss#slider-hero .btn-wrapper {
    left: 0;
  }

  .hero {
    &__container {
      max-width: 1200px;
      padding: 0 15px;
    }

    &__column {
      align-items: center;
      justify-content: center;

      &_text {
        justify-content: start;
        align-items: flex-start;
        padding-top: 20px;
        width: auto;
        padding-right: 34px;
      }

      &_img {
        width: auto;
      }
    }

    &__title {
      padding-top: 220px;
      margin-bottom: 170px;
    }
  }

  .itcss#slider-gallery .itcss__item {
    max-width: none;
    margin: 0;
  }

  .itcss#slider-gallery .pages__items {
    grid-column: 1 / -1;
  }

  .itcss#slider-gallery .btn-wrapper {
    left: 185px;
  }

  .gallery {
    &__container {
      max-width: 1200px;
      padding: 0 15px;
    }

    &__title {
      margin-left: 0;
    }
  }
}

@media (max-width: 992px) {
  .header__logo {
    width: auto;
    margin-right: 50px;
  }

  .itcss#slider-hero .itcss__item {
    flex-direction: column;
  }

  .itcss#slider-hero .pages__items {
    position: relative;
    left: -10px;
  }
  .itcss#slider-hero .btn-wrapper {
    top: 30px;
    left: calc(100vw - 129px - 30px);
    margin-bottom: 0;
    width: fit-content;
  }

  .hero {
    &__img {
      width: 100%;
    }

    &__column {
      &_text {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        padding-right: 0;
        align-items: flex-end;
        margin-bottom: 20px;
      }

      &_img {
        width: 100%;
      }
    }

    &__title {
      padding-top: 0;
      margin-bottom: 0;
    }
  }

  .about__container {
    flex-direction: column-reverse;
  }

  .about__column_imgs {
    margin-top: 20px;
  }

  .about__subtitle {
    max-width: none;
  }

  .tasks__columns {
    flex-direction: column;
  }

  .tasks__column:not(:last-child) {
    margin-bottom: 30px;
  }

  .arcade__inner {
    display: none;
  }

  .gallery {
    &__items {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    &__item {
      min-height: 460px;
    }
  }

  .footer__column {
    margin-right: 30px;
  }
}

@media (max-width: 768px) {
  .about__column_imgs {
    justify-content: space-between;
  }

  .about__row {
    width: 170px;
  }

  .tasks__subtitle {
    font-size: 20px;
    line-height: 30px;
  }

  .arcade__row {
    flex-direction: column;
  }

  .arcade__item {
    width: 100%;
  }

  .footer__columns {
    flex-direction: column;
  }

  .footer__column {
    margin-right: 0;
  }

  .footer__column:not(:last-child) {
    margin-bottom: 50px;
  }
}

@media (max-width: 576px) {
  .itcss#slider-hero .pages__items {
    left: 0;
  }
  .itcss#slider-hero .btn-wrapper {
    top: 148px;
    z-index: 10000;
  }

  .hero {
    &__column {
      &_text {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    &__title {
      padding-bottom: 20px;
    }
  }

  .about__container {
    padding: 30px 30px 0 30px;
  }

  .about__column_imgs {
    flex-direction: column;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .about__subcolumn {
    margin-right: 0;
    width: 100%;
  }

  .about__row {
    width: 100%;
    margin-bottom: 30px;
  }

  .about__row_second {
    top: 0;
  }

  .contact__column_form {
    margin-right: 0;
    max-width: none;
  }

  .contact__column_img {
    display: none;
  }

  .footer__title {
    font-size: 22px;
  }

  .footer__subtitle {
    font-size: 18px;

    &:not(:last-child) {
      margin-bottom: 22px;
    }
  }

  .socials {
    width: 230px;

    &__img {
      font-size: 28px;
    }
  }
}

@media (max-width: 375px) {
  .itcss#slider-hero .btn-wrapper {
    top: 112px;
  }

  .title {
    font-size: 40px;
    line-height: 45px;
  }

  .itcss#slider-gallery .btn-wrapper {
    left: 0;
    bottom: 180px;
  }
}
