.articles {
  &__title {
    margin-bottom: 20px;
    word-wrap: break-word;
  }

  &__title_main {
    margin-bottom: 60px;
    max-width: 311px;
  }

  &__items {
    margin-bottom: 60px;
  }

  &__item {
    display: flex;
    background-color: #fbfbfb;

    @media (max-width: 992px) {
      flex-wrap: wrap;
    }

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__column {
    &_img {
      width: 670px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      @media (max-width: 992px) {
        width: 100%;
        height: 435px;
      }
    }

    &_01 {
      background-image: url("@img/articles/school.jpg");
    }

    &_02 {
      background-image: url("@img/articles/parking.jpg");
    }

    &_03 {
      background-image: url("@img/articles/office.jpg");
    }

    &_04 {
      background-image: url("@img/articles/school-bw.jpg");
    }

    &_05 {
      background-image: url("@img/articles/parking-bw.jpg");
    }

    &_06 {
      background-image: url("@img/articles/office-bw.jpg");
    }

    &_text {
      max-width: 440px;
      padding: 30px 30px 60px 30px;

      @media (max-width: 992px) {
        max-width: none;
      }
    }
  }

  &__subtitle {
    margin-bottom: 50px;
  }

  &__link {
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
