.certif {
  &__title {
    margin-bottom: 42px;
    max-width: 469px;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    height: 450px;
    width: 337px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &_01 {
      background-image: url("@img/certif/img-01.jpg");
    }

    &_02 {
      background-image: url("@img/certif/img-02.jpg");
    }

    &_03 {
      background-image: url("@img/certif/img-03.jpg");
    }

    &_04 {
      background-image: url("@img/certif/img-04.jpg");
    }

    &_05 {
      background-image: url("@img/certif/img-05.jpg");
    }

    &_06 {
      background-image: url("@img/certif/img-06.jpg");
    }
  }
}
