.gallery {
  &__container {
    max-width: none;
    padding: 0;
  }

  &__title {
    margin-bottom: 60px;
    max-width: 450px;
    margin-left: $left-border;
  }

  &__items {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, 210px);
    // margin-bottom: 70px;
  }

  &__item {
    position: relative;
    width: 210px;
    height: 260px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &_01 {
      background-image: url("@img/gallery/img-01.jpg");
    }

    &_02 {
      background-image: url("@img/gallery/img-02.jpg");
    }

    &_03 {
      background-image: url("@img/gallery/img-03.jpg");
    }

    &_04 {
      background-image: url("@img/gallery/img-04.jpg");
    }

    &_05 {
      background-image: url("@img/gallery/img-05.jpg");
    }

    &_06 {
      background-image: url("@img/gallery/img-06.jpg");
    }

    &_07 {
      background-image: url("@img/gallery/img-07.jpg");
    }

    &_08 {
      background-image: url("@img/gallery/img-08.jpg");
    }

    &_09 {
      background-image: url("@img/gallery/img-09.jpg");
    }

    &_10 {
      background-image: url("@img/gallery/img-10.jpg");
    }

    &_11 {
      background-image: url("@img/gallery/img-11.jpg");
    }

    &_12 {
      background-image: url("@img/gallery/img-12.jpg");
    }

    &_13 {
      background-image: url("@img/gallery/img-13.jpg");
    }

    &_14 {
      background-image: url("@img/gallery/img-14.jpg");
    }

    &_15 {
      background-image: url("@img/gallery/img-15.jpg");
    }

    &_16 {
      background-image: url("@img/gallery/img-16.jpg");
    }

    &_17 {
      background-image: url("@img/gallery/img-17.jpg");
    }

    &_18 {
      background-image: url("@img/gallery/img-18.jpg");
    }

    &_19 {
      background-image: url("@img/gallery/img-19.jpg");
    }

    &_20 {
      background-image: url("@img/gallery/img-20.jpg");
    }

    &:hover .gallery__inner {
      opacity: 1;
    }
  }

  &__inner {
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fbfbfb;
    padding: 20px 20px 0 20px;
    transition: all 0.2s ease-in-out;
    opacity: 0;
  }

  &__subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #333333;
  }

  &__pages {
    width: fit-content;
    margin-right: 26px;
  }

  &__nav {
    width: fit-content;
    margin-bottom: 0;
  }
}
