.hero {
  margin-bottom: 120px;

  &__container {
    max-width: none;
    padding: 0;
  }

  &__column {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;

    &_text {
      padding-top: 336px;
      height: 100%;
      width: 36%;
    }

    &_img {
      width: 64%;
      position: relative;
    }
  }

  &__title {
    margin-bottom: 233px;
    max-width: 331px;
  }

  &__btn {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;
  }
}
