.projects-page {
  &__container {
  }

  &__title {
    margin-bottom: 20px;
  }

  &__title_main {
    margin-bottom: 60px;

    &_black {
      font-weight: 700;
      color: #333333;
    }
  }

  &__items {
    display: grid;
    gap: 30px;
    margin-bottom: 60px;
  }

  &__item {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #fbfbfb;
  }

  &__column {
    &_img {
      height: 100%;
      width: 670px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    &_first {
      background-image: url("@img/projects-page/img-01.jpg");
    }

    &_second {
      background-image: url("@img/projects-page/img-02.jpg");
    }

    &_third {
      background-image: url("@img/projects-page/img-03.jpg");
    }

    &_text {
      max-width: 440px;
      padding: 30px;
    }
  }

  &__subtitle {
    margin-bottom: 30px;
  }
}
