.itcss#slider-gallery .itcss__item {
  max-width: 1200px;
  margin-left: $left-border;
  margin-right: $left-border;
}

.itcss#slider-gallery .pages__items {
  margin-top: 70px;
  margin-bottom: 130px;
}

.itcss#slider-gallery .btn-wrapper {
  position: absolute;
  bottom: 120px;
  left: calc($left-border + 185px);
  display: flex;
}
