.hero__container .itcss#slider-hero {
  position: relative;
}

.itcss#slider-hero .itcss__item {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin-left: $left-border;
  margin-right: $left-border;
}

.itcss#slider-hero .btn-wrapper {
  position: absolute;
  bottom: 0;
  left: $left-border;
  display: flex;
  margin-bottom: 225px;
}
