.tasks {
  margin-bottom: 120px;

  &__column {
    display: flex;
    align-items: center;

    &:nth-child(1) {
      max-width: 413px;
    }

    &:nth-child(2) {
      max-width: 570px;
    }
  }

  &__title {
    margin-bottom: 60px;
  }

  &__columns {
    display: flex;
    justify-content: space-between;
  }

  &__img {
    min-width: 115px;
    height: 145px;
    margin-right: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    &_first {
      background-image: url("@img/tasks/1.svg");
    }

    &_second {
      background-image: url("@img/tasks/2.svg");
    }
  }

  &__subtitle {
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    color: #333333;
  }
}
